.App {
  text-align: center;
  color:  #61dafb;
  background-color: #282c34;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  cursor: default;
}

.App-logo {
  height: 200px;
  pointer-events: none;
  margin: 30px auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-form, .App-data, .App-calcul, .App-search {
  background-color: #162136;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  text-align: left;
}

.Form {
  display: flex;
  flex-direction: column;
}

.Data {
  color: white;
}

.App-search {
  min-height: 200px;
}
